body {
  font-family: 'Montserrat', sans-serif !important;
}

.bg-swirl {
  background-color: #dad3ce;
}

.bg-chocolate {
  background-color: #380101;
}

.bg-flint {
  background-color: #716c69;
}

.bg-derby {
  background-color: #ffebda
}

.text-chocolate {
  color: #380101;
}

.text-swirl {
  color: #dad3ce;
}

.text-flint {
  color: #716c69;
}

.text-derby {
  color: #ffebda
}