{{ define "main" }}
  <input id="data" type="hidden" name="data" value="{{ .Site.Data.exploralatam.organizaciones | jsonify }}">
  <div class="container px-4 mx-auto py-12">
    <div class="flex flex-col mb-10 lg:flex-row">
      <div class="mb-10 lg:w-2/3 lg:mr-10 lg:mb-0">
        <h2 class="text-chocolate uppercase font-bold text-2xl mb-10">Organizaciones</h2>
        <p class="text-chocolate text-lg"><strong>Existen miles de organizaciones que se dedican al uso de datos abiertos y tecnología cívica</strong>. Aquí puedes navegar a través de las organizaciones de datos abiertos y tecnología cívica de América Latina. También puedes buscar por palabra clave, país, etiquetas y las redes a las que pertenecen.</p>
      </div>
      <div class="lg:w-1/3">
        <h2 class="text-chocolate uppercase font-bold text-2xl mb-10">Añade tu organización</h2>
        <p class="text-chocolate text-lg mb-4">Informa a otros sobre quién eres y lo que haces, encuentra colaboradores potenciales y vincula tus proyectos a tu organización.</p>
        <a href="#" class="text-sm text-chocolate font-bold uppercase bg-white rounded-full leading-none underline">añade tu organización</a>
      </div>
    </div>
    <div id="interactive">
      <div class="flex flex-wrap" id="filters">
        <button class="bg-swirl text-chocolate font-bold mr-2 px-3 py-1 rounded uppercase mb-2 btn-filter" data-letter="">Todos</button>
      </div>
    </div>
  </div>
  <div class="bg-swirl">
    <div class="container mx-auto px-4 py-12">
      <div class="flex flex-col -mx-2 lg:flex-row">
        <div class="lg:w-2/6 px-4">
          <div class="mb-4">
            <h2 class="text-chocolate uppercase font-bold text-lg mb-2">Filtrar organizaciones</h2>
            <div class="searchbar relative lg:max-w-md">
              <input type="text" placeholder="Buscar por palabra clave, tipo o proyecto" class="appearance-none bg-transparent border-b border-chocolate p-2 block w-full" id="searchbar">
              <div class="bg-swirl absolute right-0 text-xl z-10 block px-1" style="top: 50%; transform: translateY(-50%)">
                <i class="icon ion-ios-search"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="lg:w-4/6 px-4">
          <div id="cards" class="flex flex-wrap -mx-1"></div>
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "script" }}
  <script src='{{ "js/dataset.js" | absURL }}'></script>
  <script src='{{ "js/organizations.js" | absURL }}'></script>
{{ end }}