{{ define "head" }}
  <link rel="stylesheet" href="/css/single.css">
{{ end }}

{{ define "main" }}
  <div class="h-64 flex items-center" style="background-image: linear-gradient(45deg, #f9f9f9, #dad3d3)">
    <div class="container px-4 mx-auto">
      <h1 class="text-2xl md:text-5xl text-chocolate font-bold">{{ .Title }}</h1>
      <div class="flex text-sm text-gray-800">
        {{ if .Params.org_type }}
          <p>{{ .Params.org_type }}</p>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="container px-4 py-10 mx-auto flex flex-col text-chocolate lg:flex-row">
    <div class="lg:w-2/3 single-content mr-10">
      {{ .Content }}
    </div>
    <div class="lg:w-1/3">
      <h2 class="uppercase font-bold tracking-wide text-lg lg:text-xl mb-4">Información</h2>
      {{ if .Description }}
        <p class="mb-4">{{ .Description }}</p>
      {{ end }}
      <div class="flex text-2xl text-gray-900">
        {{ if .Params.website }}
          <a href="{{ .Params.website }}" rel="noopener noreferrer" target="_blank" class="mr-4"><i class="icon ion-ios-link"></i></a>
        {{ end }}
        {{ if .Params.facebook }}
          <a href="{{ .Params.facebook }}" rel="noopener noreferrer" target="_blank" class="mr-4"><i class="icon ion-logo-facebook"></i></a>
        {{ end }}
        {{ if .Params.twitter }}
          <a href="{{ .Params.twitter }}" rel="noopener noreferrer" target="_blank"><i class="icon ion-logo-twitter"></i></a>
        {{ end }}
      </div>
      <div class="update">
        <button id="show-form" class="leading-none uppercase rounded-full bg-white shadow-md px-6 py-2 font-bold text-sm block ml-auto hover:shadow-lg hover:bg-red-600 hover:text-white">Actualizar</button>
        <!-- Netlify form -->
        <form name="update" netlify hidden>
          <input type="text" name="organization">
          <input type="email" name="email" id="">
          <textarea name="comments"></textarea>
        </form>
        <!-- Visible form -->
        <form name="update" method="POST" class="mt-8 hidden" id="update-form">
          <div class="mb-4 flex flex-col text-sm">
            <label for="organization" class="mb-2 font-bold">Organización</label>
            <input type="text" name="organization" id="organization" value="{{ .Title }}" class="block w-full bg-gray-200 appearance-none py-1 px-2" disabled>
          </div>
          <div class="mb-4 flex flex-col text-sm">
            <label for="email" class="mb-2 font-bold">Email</label>
            <input type="email" name="email" id="email" class="block w-full bg-gray-200 appearance-none py-1 px-2" autofocus required>
          </div>
          <div class="mb-4 flex flex-col text-sm">
            <label for="comments" class="mb-2 font-bold">Comentarios</label>
            <textarea name="comments" id="comments" rows="5" class="block w-full bg-gray-200 appearance-none py-1 px-2" required></textarea>
          </div>
          <div class="flex justify-end">
            <button type="submit" class="leading-none uppercase rounded-full shadow-md px-6 py-2 font-bold text-sm hover:shadow-lg bg-red-600 text-white mr-4">Enviar</button>
            <button id="hide-form" class="leading-none uppercase rounded-full bg-white shadow-md px-6 py-2 font-bold text-sm hover:shadow-lg">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="text-lg">
    </div>
  </div>
{{ end }}

{{ define "script" }}
  <script>
    const trigger = document.getElementById('show-form')
    const form = document.getElementById('update-form')
    const hide = document.getElementById('hide-form')

    trigger.addEventListener('click', function () {
      trigger.classList.add('hidden')
      form.classList.remove('hidden')
    })

    hide.addEventListener('click', function (e) {
      e.preventDefault()
      form.classList.add('hidden')
      trigger.classList.remove('hidden')
    })
  </script>
{{ end }}