<div class="fixed inset-0 bg-white z-50 px-4 hidden" id="search-overlay">
  <div class="text-right">
    <button class="text-5xl text-chocolate search-close"><i class="icon ion-ios-close"></i></button>
  </div>
  <h2 class="uppercase text-center text-3xl text-chocolate">Buscar</h2>
  <form action="" class="mt-10">
    <input type="text" class="block text-center border-b border-chocolate w-full md:w-3/5 xl:w-2/5 mx-auto px-3 py-2 truncate" placeholder="Buscar noticias, proyectos, organizaciones y casos de estudio">
  </form>
  <div class="text-center">
    <button class="uppercase text-xs tracking-wide text-chocolate mt-8 search-close">cancelar</button>
  </div>
</div>